.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-light-xl;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 80px;
    }
    @include mobile_m {
      row-gap: 42px;
    }
  }
  &__background-image {
    display: block;
    height: auto;
    max-width: 100%;
  }
  &__content {
    max-width: 430px;
    @include tablet {
      @include responsiveTablet(max-width, 720, 430);
    }
    @include mobile_m {
      justify-content: center;
      @include responsiveMobile(max-width, 430, 270);
    }
  }
  &__heading {
    @include mobile_s {
      @include h3_mobile;
      align-self: center;
    }
  }
  &__subheading_first {
    margin-top: 25px;
    @include mobile_s {
      text-align: justify;
    }
  }
  &__subheading_second {
    margin-top: 25px;
    @include mobile_s {
      margin-top: 22px;
      text-align: justify;
    }
  }
}
