.in-adition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-light-l;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 30px;
    @include tablet {
      flex-direction: column-reverse;
      row-gap: 60px;
    }
    @include mobile_m {
      row-gap: 42px;
    }
  }
  &__background__image {
    display: block;
    height: auto;
    max-width: 100%;
  }
  &__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
    @include tablet {
      @include responsiveTablet(max-width, 720, 380);
    }
    @include mobile_m {
      align-items: center;
      @include responsiveMobile(max-width, 380, 281);
    }
  }
  &__heading {
    @include mobile_s {
      @include h3_mobile;
    }
  }
  &__subheading {
    @include mobile_s {
      line-height: 24px;
      letter-spacing: 0;
    }
  }
  .credit-card {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: $color-primory;
    transition: $transition;
    &:hover {
      background-color: $color-primary-light;
    }
    &__content {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
    &__number {
      @include mobile_m {
        @include h5_modal;
      }
    }
    &__icon {
      display: block;
    }
  }
  &__description {
    text-align: start;
    @include mobile_m {
      text-align: justify;
    }
  }
}
