.our-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-light-l;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;
    align-items: center;
    @include mobile_m {
      row-gap: 42px;
    }
  }
  &__heading {
    text-align: center;
    max-width: 400px;
    @include mobile_s {
      @include h3_mobile;
    }
  }

  &__button {
    @include button_primary;
  }
}
