.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: url("../assets/images/noise_transparent@2X.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    max-width: 1280px;
    width: 100%;
    padding: 30px 40px 0 40px;
    @include tablet {
      @include responsiveTablet(padding-left, 40, 30);
      @include responsiveTablet(padding-right, 40, 30);
      row-gap: 60px;
    }
  }
}
