.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url("../assets/images/noise_transparent@2X.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  &__wrapper {
    max-width: 1280px;
    width: 100%;
    padding: 40px 40px 0 40px;
    @include tablet {
      @include responsiveTablet(padding-left, 40, 30);
      @include responsiveTablet(padding-right, 40, 30);
      @include responsiveTablet(padding-top, 40, 30);
    }
  }
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      flex-direction: column;
      row-gap: 65px;
    }
  }
  &__content {
    display: flex;
    column-gap: 160px;
    @include tablet {
      @include responsiveTablet(column-gap, 160, 60);
    }
  }
  &__background-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &__heading {
      color: $color-light-xl;
    }
    &__mail {
      text-decoration: none;
      display: flex;
      column-gap: 20px;
      &:hover .contacts__email-address {
        color: $color-primary-light;
        transition: $transition;
      }
    }
    &__email-address {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primory;
    }
    &__phone {
      text-decoration: none;
      display: flex;
      column-gap: 20px;
      &:hover .contacts__phone-number {
        color: $color-primary-light;
        transition: $transition;
      }
    }
    &__phone-number {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primory;
    }
  }
  .location {
    display: flex;
    flex-direction: column;

    &__heading {
      color: $color-light-xl;
    }
    &__boston {
      text-decoration: none;
      margin-top: 34px;
      display: flex;
      column-gap: 20px;
      &:hover .location__boston-address {
        color: $color-primary-light;
        transition: $transition;
      }
    }
    &__boston-address {
      width: 260px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $color-primory;
    }
    &__london {
      text-decoration: none;
      margin-top: 32px;
      display: flex;
      column-gap: 20px;
      &:hover .location__london-address {
        color: $color-primary-light;
        transition: $transition;
      }
    }
    &__london-address {
      width: 260px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $color-primory;
    }
  }
}
