.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile_m {
    @include responsiveMobile(margin-left, 0, 10);
    @include responsiveMobile(margin-right, 0, 10);
  }
  &__navbar {
    @include mobile_m {
      display: none;
    }
  }
  &__burger {
    @include mobile_m {
      display: flex;
    }
  }
}

@mixin pets-header {
  @include pets-logo();
  @include pets-burger();
  @include pets-navbar();
}
