.pets {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-light-l;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 45px;
    align-items: center;
  }
  &__title {
    text-align: center;
    width: 400px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    &__prev-full {
      @include button_pagination;
    }
    &__prev {
      @include button_pagination;
    }
    &__page {
      @include button_pagination;
    }
    &__next {
      @include button_pagination;
    }
    &__next-full {
      @include button_pagination;
    }
  }
}
