.burger {
  display: none;
  cursor: pointer;
  align-items: center;
  width: 30px;
  height: 22px;
  border-top: 2px solid $color-primory;
  border-bottom: 2px solid $color-primory;
  z-index: 150;

  &__line {
    width: 100%;
    background-color: $color-primory;
    height: 2px;
  }
  &_active {
    animation: active 0.3s ease-in-out 1;
    animation-fill-mode: both;
    @keyframes active {
      to {
        transform: rotate(90deg);
      }
    }
  }
  &_inactive {
    animation: inactive 0.3s ease-in-out 1;
    animation-fill-mode: both;
    @keyframes inactive {
      from {
        transform: rotate(90deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }
}
@mixin pets-burger {
  .burger {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    &__line {
      background-color: #000000;
    }
  }
}
