.button {
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  height: 52px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  background-color: transparent;
  transition: $transition;
  &:hover {
    cursor: pointer;
    background-color: $color-primary-light;
  }
}

@mixin button_primary {
  font-size: 17px;
  line-height: 22px;
  padding: 15px 45px;
  background-color: $color-primory;
}
@mixin button_secondary {
  border: 2px solid $color-primory;
  width: 187px;
  font-size: 17px;
  line-height: 22px;
  padding: 15px;
  &:hover {
    border: 2px solid $color-primary-light;
  }
}
@mixin button_pagination {
  width: 52px;
  border: 2px solid $color-primory;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 3px;
  &:hover {
    border: 2px solid $color-primary-light;
  }
  &_active {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 3px;
    background-color: $color-primory;
    &:hover {
      background-color: $color-primary-light;
    }
  }
  &_inactive {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 3px;
    color: $color-dark-s;
    border: 2px solid $color-dark-s;
    cursor: default;
    &:hover {
      border: 2px solid $color-dark-s;
      background-color: transparent;
    }
  }
}
@mixin button_arrow {
  width: 52px;
  border: 2px solid $color-primory;
  background: url("../assets/icons/arrow.svg") no-repeat center;
  &:hover {
    border: 2px solid $color-primary-light;
  }
  &_inactive {
    border: 2px solid $color-dark-s;
    background: url("../assets/icons/arrow-inactive.svg") no-repeat center;
  }
}
@mixin button_close {
  width: 52px;
  border: 2px solid $color-primory;
  background: url("../assets/icons/vector.svg") no-repeat center;
}
