.grid {
  overflow: hidden;
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  @include desktopFull {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 70px;
    padding: 0;
  }
  @include desktop {
    @include responsiveDesktop(grid-column-gap, 70, 40);
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @include mobile_m {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__card {
    animation: renderCard 0.3s ease-in 1;
    animation-fill-mode: both;
    @keyframes renderCard {
      from {
        opacity: 0.9;
        transform: scale(0.9);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
