.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  @include tablet {
    width: 170px;
  }
  @include mobile_s {
    row-gap: 20px;
    width: 130px;
  }
  &__name {
    @include mobile_s {
      @include h5_modal;
    }
  }
  &__icon {
    @include mobile_m {
      @include responsiveMobile(width, 60, 50);
      @include responsiveMobile(height, 60, 50);
    }
  }
}
