.logo {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 9px;
  &:hover .logo__title {
    color: $color-primary-light;
    transition: $transition;
  }
  &__title {
    margin: 0;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: $color-primory;
  }
  &__subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }
}
@mixin pets-logo() {
  .logo {
    &:hover .logo__title {
      color: $color-dark-3xl;
      transition: $transition;
    }
    &__title {
      color: $color-dark-l;
    }
    &__subtitle {
      color: $color-dark-3xl;
    }
  }
}
