.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  @include mobile_s {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  &__content {
    display: flex;
    max-width: 990px;
    width: 100%;
    justify-content: space-between;
    @include desktop {
      max-width: 720px;
    }
    @include tablet {
      @include responsiveTablet(max-width, 720, 580);
    }
    @include mobile_m {
      justify-content: center;
    }
  }
  &__card_second {
    @include mobile_m {
      display: none;
    }
  }
  &__card_third {
    @include desktop {
      display: none;
    }
  }
  &__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include mobile_s {
      position: relative;
      justify-content: center;
      column-gap: 80px;
    }
  }
  &__button_prev {
    @include button_arrow;
  }
  &__button_next {
    @include button_arrow;
    transform: rotate(180deg);
    order: 5;
  }
}
